# Firebase — Projet : ai-guard-vision-8ef41
# Copier ce fichier en .env.local et remplir les valeurs
# (disponibles dans Firebase Console → Project Settings → General → Your apps)

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDD6PtkDgyIFBps2HoDBZAcSQSa9lMTzEE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-guard-vision-8ef41.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ai-guard-vision-8ef41
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-guard-vision-8ef41.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=20746657019
NEXT_PUBLIC_FIREBASE_APP_ID=1:20746657019:web:c34bf2ed6029eec99e645e
